<footer class="footer-bar">
    <h1>Contact me:</h1>
    <ul class="contact-info">
        <li>
            <a href="mailto:">Email me</a>
        </li>
        <li>
            <a href="">Github</a>
        </li>
    </ul>
</footer>
</body>
</html>