<%- include('./partials/header.ejs'); %>

<main>
    <article class="about-page">
        <h1>About this project</h1>
        <p>This website is part of my senior project. The project is a raspberry pi cluster running hadoop as a middleware and this website functions as a simple dashboard to read the database running on that distributed system.</p>
        <h2>Why distributed systems?</h2>
        <p>Distributed systems are the modern computing infrastructure; they offer the greatest potential for scalability, availability, fault-tolerance, and consistency.</p>
        <h3>Why hadoop?</h3>
        <p>Hadoop is an open-source framework for distributed large-scale data processing, with a wide-ranging open-source software ecosystem. (e.g. HBase, which was used as the database software in this project)</p>
    </article>
</main>



<%- include('./partials/footer.ejs'); %>
