<%- include('./partials/header.ejs'); %>

<main>
    <article class="about-page">
        <h1>About this project</h1>
        <p>This website is part of my senior project. The project is a hadoop-based distributed system and this website functions as a simple dashboard for that system.</p>
        <h2>Why distributed systems?</h2>
        <p>Distributed systems are the computing infrastructure; they offer the greatest potential for scalability, availability, fault-tolerance, and consistency.</p>
        <h3>Why hadoop?</h3>
        <p>Hadoop is an open-source framework for distributed large-scale data processing, with an open-source software ecosystem on top. (e.g. HBase, which was used as the database software in this project)</p>
    </article>
</main>



<%- include('./partials/footer.ejs'); %>
